<html>

<body>
    <div style="height:300px;">
        <div style="float:left;margin-right:100px;">
            <div style="width:400px;height:300px;">
                <img id="imageone" src="" style="width:100%;height:100%;" />
            </div>
            <div>
                <input style="display:block;" type="file" id="matchone" name="picture1" />
            </div>
        </div>
        <div style="float:left;">
            <div style="width:400px;height:300px;">
                <img id="imagetwo" src="" style="width:100%;height:100%;" />
            </div>
            <div>
                <input style="display:block;" type="file" id="matchtwo" name="picture2" />
            </div>

        </div>
        <div style="width:400px;height:350px;"></div>
        <div>
            <input type="button" onclick="uploadImage();" value="提交"/>
        </div>
    </div>

    <div id="div"></div>
    <script>
        var imageone = '';
        var imagetwo = '';
        document.getElementById('matchone').onchange = function () {
            if (!this.files || !this.files[0]) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function (evt) {
                document.getElementById('imageone').src = evt.target.result;
                imageone = evt.target.result;
            }
            reader.readAsDataURL(this.files[0]);
        }
        document.getElementById('matchtwo').onchange = function () {
            if (!this.files || !this.files[0]) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function (evt) {
                document.getElementById('imagetwo').src = evt.target.result;
                imagetwo = evt.target.result;
            }
            reader.readAsDataURL(this.files[0]);
        }

        function uploadImage() {

            url = "face/facematch"
            var data = {
                ids: 1,
                picone: imageone,
                pictwo: imagetwo
            };

            $.messager.progress({
                title: '系统提示',
                msg: '正在检测，请稍后。。。',
            });
            $.ajax({
                url: url,
                data: data,
                type: 'POST',
                dataType: 'json'
            }).success(function (ret) {
                if (!ret || !ret.result) {
                    $.messager.alert('系统提示', '检测失败！', 'error');
                    return;
                }
                var msg = '';
                ret = ret.result[0];
                
                if (ret.error_msg) {
                    msg = ret.error_msg;
                } else {
                    msg = [
                        '相似度打分:', parseInt(ret.score)
                    ].join('');
                }

                $.messager.alert('操作提示', msg, 'info');
            }).error(function () {
                $.messager.alert('操作提示', '失败');
            }).complete(function () {
                $.messager.progress('close');
            });
        }
    </script>















    <!-- <script>
                    var image = '';
                    document.getElementById('b').onchange = function () {
                        if (!this.files || !this.files[0]) {
                            return;
                        }
                        var reader = new FileReader();
                        reader.onload = function (evt) {
                            document.getElementById('imagetwo').src = evt.target.result;
                            image = evt.target.result;
                            console.log(image)
                        }
                        reader.readAsDataURL(this.files[0]);
                    }
            
                    function uploadImage() {
            
                        url = "/facedetect"
                        var data = {
                            ids: 1,
                            pic: image
                        };
            
                        $.post(url, data, function (result) {
                            $.messager.alert('操作提示', result, 'info');
                        });
                    }
                </script> -->
</body>

</html>