<body class="easyui-layout">
    <div data-options="region:'north',split:true" border="false" style="height:100px;">
        <div style="weidth:100%;background:#ffffff" align="center">
            <h1>欢迎使用</h1>
        </div>
    </div>

    <!--中间展示区-->
    <div data-options="region:'center'" style="height:500px">

        <pre>
            项目简介：
                此项目的主要用来展示人脸识别展示以及学习。目前只提供了人脸库管理、人脸识别功能，后续如果有可以公用的功能会陆续增加进来。

            功能介绍： 
            
            1：人脸库管理 
                功能：用于人脸注册、人脸更新、人脸删除、用户查询、用户删除、组列表查询
            2：人脸识别
                功能：用于人脸识别、人脸属性检测
          
            此页面主要作为欢迎页面，后续可以加入公告，快捷入口，帮助文档入口等
        </pre>

    </div>


</body>